# =========================================================================
#            NOVAMARQUET-AI - ARCHIVO DE CONFIGURACIÓN (.env)
# =========================================================================

# --- CONFIGURACIONES DE ENTORNO ---
DEBUG=True
SECRET_KEY=django-insecure-novamarquet-super-secret-key-12345
ALLOWED_HOSTS=localhost,127.0.0.1

# --- CONFIGURACIÓN DE BASE DE DATOS POSTGRESQL (DOCKER / VPS) ---
DB_NAME=novamarquet
DB_USER=postgres
DB_PASSWORD=securepassword123
DB_HOST=db
DB_PORT=5432

# --- INTEGRACIÓN DE PASARELAS DE PAGO ---

# 1. MERCADOPAGO (Token de Producción o Sandbox)
MERCADOPAGO_ACCESS_TOKEN=tu_token_de_mercadopago_aqui

# 2. STRIPE (Credenciales de Pruebas o Producción)
STRIPE_PUBLISHABLE_KEY=tu_clave_publicable_de_stripe_aqui
STRIPE_SECRET_KEY=tu_clave_secreta_de_stripe_aqui

# 3. PAYPAL REST API (Credenciales Sandbox/Live Developer Console)
PAYPAL_CLIENT_ID=tu_client_id_de_paypal_aqui
PAYPAL_SECRET=tu_client_secret_de_paypal_aqui
